@using Aspire.Dashboard.Resources

@inject IStringLocalizer<OpenApi> Loc
@inject IStringLocalizer<ControlsStrings> ControlsStringsLoc

<div class="openapi-request-layout">
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSearch Placeholder="@ControlsStringsLoc[nameof(ControlsStrings.FilterPlaceholder)]"
                      Immediate="true"
                      Autofocus="true"
                      @bind-Value="_filter"
                      slot="end" />
    </FluentToolbar>
    <div class="openapi-request-grid-container">
        <FluentAccordion>
            <FluentTextField Style="margin-top: 8px; width: 100%" ReadOnly="true" Value="@_url">
                <FluentBadge BackgroundColor="@_methodColor" Fill="highlight" slot="start">@_methodName</FluentBadge>
            </FluentTextField>
            <FluentAccordionItem Heading="@Loc[nameof(OpenApi.OpenApiRequestBaseUrl)]" Expanded="@(Document.Servers.Count > 1 || Document.Servers.First().Variables.Count > 0)" Style="margin-top: 16px">
                <OpenApiServerSelect
                    Servers="@Document.Servers"
                    @bind-SelectedServer="@_selectedServer"
                    @bind-SelectedServer:after="HandleSelectedServerChangedAsync" />
            </FluentAccordionItem>

            <FluentAccordionItem Heading="@Loc[nameof(OpenApi.OpenApiRequestHeaders)]" Expanded="@(_headers.Count() > 0)">
                <FluentBadge Appearance="Appearance.Neutral" Circular="true" slot="end">
                    @_headers.Count()
                </FluentBadge>
                <PropertyGrid TItem="OpenApiRequestHeader"
                              Items="@FilteredHeaders"
                              IsValueSortable="false"
                              HighlightText="@_filter"
                              GridTemplateColumns="1fr 1.5fr" />

                <FluentButton Id="@_editHeadersButtonId"
                              IconStart="@(new Icons.Regular.Size16.Edit())"
                              Style="margin-top: 8px; float: right"
                              OnClick="OnButtonEditHeadersClick">
                    @Loc[nameof(OpenApi.OpenApiRequestButtonEditHeadersText)]
                </FluentButton>
            </FluentAccordionItem>

            <FluentAccordionItem Heading="@Loc[nameof(OpenApi.OpenApiRequestParameters)]" Expanded="@(_parameters.Count() > 0)">
                <FluentBadge Appearance="Appearance.Neutral" Circular="true" slot="end">
                    @_parameters.Count()
                </FluentBadge>
                <PropertyGrid TItem="OpenApiRequestParameter"
                              Items="@FilteredParameters"
                              IsValueSortable="false"
                              HighlightText="@_filter"
                              GridTemplateColumns="1fr 1.5fr" />

                <FluentButton Id="@_editParametersButtonId"
                              IconStart="@(new Icons.Regular.Size16.Edit())"
                              Style="margin-top: 8px; float: right"
                              OnClick="OnButtonEditParametersClick">
                    @Loc[nameof(OpenApi.OpenApiRequestButtonEditParametersText)]
                </FluentButton>
            </FluentAccordionItem>

            <FluentAccordionItem Heading="@Loc[nameof(OpenApi.OpenApiRequestBody)]" Expanded="@(_body.Length > 0)">
                <TextVisualizer ButtonEditText="@Loc[nameof(OpenApi.OpenApiRequestButtonEditBodyText)]" CanEdit="true" Text="@_body" />
            </FluentAccordionItem>
        </FluentAccordion>
    </div>
</div>
